@model ApplicationManagement.DbModel.Office

@{
    ViewData["Title"] = "অফিস যোগ করুন";
}


<form asp-action="Create" method="post" class="form-horizontal">
    <fieldset class="fieldset-bordered">
        <legend class="legend-bordered">Add a New Office</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Description" class="control-label col-xs-4 vertical-middle"></label>
                    <div class="col-xs-8">
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-4">
                    <input type="submit" value="যোগ করুন (Add)" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
