@model ApplicationManagement.DbModel.Entry

@{
    ViewData["Title"] = "যোগকৃত প্রোডাক্ট হালনাগাদ";
}

<h2>Edit Added Product</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EntryDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InitialCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InitialCount" class="form-control" />
                <span asp-validation-for="InitialCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameOfSupplier" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameOfSupplier" class="form-control" />
                <span asp-validation-for="NameOfSupplier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressOfSupplier" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressOfSupplier" class="form-control" />
                <span asp-validation-for="AddressOfSupplier" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionOfProduct" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescriptionOfProduct" class="form-control" />
                <span asp-validation-for="DescriptionOfProduct" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfSuppliedProduct" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfSuppliedProduct" class="form-control" />
                <span asp-validation-for="NumberOfSuppliedProduct" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SuppliedProductUnitPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SuppliedProductUnitPrice" class="form-control" />
                <span asp-validation-for="SuppliedProductUnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SuppliedProductTotalPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SuppliedProductTotalPrice" class="form-control" />
                <span asp-validation-for="SuppliedProductTotalPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalNoOfProductAfterInserted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalNoOfProductAfterInserted" class="form-control" />
                <span asp-validation-for="TotalNoOfProductAfterInserted" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReceiveDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReceiveDate" class="form-control" />
                <span asp-validation-for="ReceiveDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameOfUser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameOfUser" class="form-control" />
                <span asp-validation-for="NameOfUser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressOfUser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressOfUser" class="form-control" />
                <span asp-validation-for="AddressOfUser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DemandnoteNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DemandnoteNo" class="form-control" />
                <span asp-validation-for="DemandnoteNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfReceivedProduct" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfReceivedProduct" class="form-control" />
                <span asp-validation-for="NumberOfReceivedProduct" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalNoOfProductAfterdeduction" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalNoOfProductAfterdeduction" class="form-control" />
                <span asp-validation-for="TotalNoOfProductAfterdeduction" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-list-alt"></span> Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
